<div class="col-xs-12 col-md-6">
  <a href="/events/{{id}}" style="text-decoration:none">
    <img src="data:image/jpeg;base64,{{image}}" class="img-fluid">

    <div class="d-flex flex-row pt-2 float-left">
      <div class="order-1 p-4">
        <h5 class="text-danger text-center" id="date">{{date}}</h5>
        <h5 class="text-dark text-center" id="month">{{month}}</h5>
      </div>
      <div class="order-2 p-2">
        <h3 class="text-dark">{{name}}</h3>
        <p class="text-dark">{{location}}<br>Rs. {{price}}</p>
      </div>
    </div>


  </a> 
</div>